@model IEnumerable<TheBugTracker.Models.Project>
@using TheBugTracker.Models.Enums

@{
    ViewData["Title"] = "My Projects";
}

<h1>My Projects</h1>

@if (User.IsInRole(nameof(Roles.Admin)) || User.IsInRole(nameof(Roles.ProjectManager)))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Archived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectPriority)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                    @if (item.FileData != null)
                    {
                        <img id="imageFileData" class="img-fluid img-thumbnail" style="width:100px;height:80px;" src="data:image/*;base64,@(Convert.ToBase64String(item.FileData))" />
                    }
                    else
                    {
                        <img id="imageFileData" class="img-fluid img-thumbnail" style="width:100px;height:80px;" src="~/image/defaultUserImage.png" />
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Archived)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectPriority.Id)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                @if (User.IsInRole(nameof(Roles.Admin)) || User.IsInRole(nameof(Roles.ProjectManager)))
                {
                    
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                    @if (item.Archived)
                    {
                            <a asp-action="Restore" asp-route-id="@item.Id">Restore</a>
                    }
                    else
                    {
                            <a asp-action="Archive" asp-route-id="@item.Id">Archive</a>
                    }
                }

            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/sidebarmenu.js"></script>
    <script src="/assets/libs/simplebar/dist/simplebar.js"></script>
    <script src="/assets/js/dashboard.js"></script>
}