@model IEnumerable<TheBugTracker.Models.Project>

@{
    ViewData["Title"] = "Unassigned Projects";
}

<h1>Unassigned Projects</h1>
@if(Model.Count() == 0)
{
    <hr />
    <h3 class="text-center">There are no Unassigned Projects</h3>

}
else{

<table class="table table-primary table-striped table-hover border border-1 border-primary mb-2" id="allProjects">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectPriority)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td >
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                <td class="test">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                    @if (item.FileData != null)
                    {
                        <img id="imageFileData" class="img-fluid img-thumbnail" style="width:100px;height:80px;" src="data:image/*;base64,@(Convert.ToBase64String(item.FileData))" />
                    }
                    else
                    {
                        <img id="imageFileData" class="img-fluid img-thumbnail" style="width:100px;height:80px;" src="~/img/default_Project.jpg" />
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectPriority.Name)
            </td>
            <td>
                <a class="btn btn-sm btn-outline-secondary" asp-action="AssignPM" asp-route-projectId="@item.Id">Add PM</a> 

            </td>
        </tr>
}
    </tbody>
</table>

}
@section Scripts {
    <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/sidebarmenu.js"></script>
    <script src="/assets/libs/simplebar/dist/simplebar.js"></script>
   
}